.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

#name, #description, #colors, #title, #link {
  height: 30px;
  background-color: aliceblue;
  border: 2px solid lightblue;
}